@import "tailwindcss";

@theme {
  --color-brand: #6366f1;
  --color-bg-dark: #0f172a;
  --color-surface: #1e293b;
  --color-accent: #10b981;
}

body {
  background-color: var(--color-bg-dark);
  color: white;
  font-family: 'Inter', system-ui, sans-serif;
}